<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <label for="task">Task:</label>
                <input type="text" #taskItem>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <label for="date">Date:</label>
                <input type="date" #dateItem>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <button (click)=>Add Task</button>
            </div>
        </div>

    </div>
</div>