<div class="main">
    <div class="container d-flex flex-column">
        <div class="row">
        <div class="col-lg">
            <h1>Todo List Piton App</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
        <a routerLink="/create-task" routerLinkActive="Active"><button>Add New Task</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <button>Show All Tasks</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <button>Show Today's Tasks</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <button>Show This Week's Tasks</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <button>Show This Month's Tasks</button>
        </div>
    </div>
    </div>
</div> 